<header>
  <a href="/">
    <app-logo></app-logo>
  </a>

  <app-search (searchValue)="typeSearchTerm($event)"></app-search>
  <div class="language-buttons-wrapper">
    @for (lang of availableLanguages(); track lang) {
      <button
        class="language-button"
        (click)="changeLanguage(lang.toString())"
        [disabled]="currentLanguage() === lang.toString()"
      >
        {{ lang.toString().toUpperCase() }}
      </button>
      @if ($index < availableLanguages().length - 1) {
        <div class="language-separator">/</div>
      }
    }
  </div>
</header>
