<header>
  <a
    routerLink="/"
    [title]="'go-to-main-page' | transloco"
    [attr.aria-label]="'go-to-main-page' | transloco"
  >
    <ca-logo />
  </a>

  <ca-search (searchValue)="typeSearchTerm($event)"></ca-search>
  <div
    class="language-buttons-wrapper"
    role="group"
    [attr.aria-label]="'choose-language' | transloco"
  >
    @for (lang of availableLanguages(); track lang) {
      <button
        class="language-button"
        type="button"
        (click)="changeLanguage(lang.toString())"
        [attr.aria-pressed]="currentLanguage() === lang.toString()"
      >
        {{ lang.toString().toUpperCase() }}
      </button>
      @if ($index < availableLanguages().length - 1) {
        <span class="language-separator" aria-hidden="true">/</span>
      }
    }
  </div>
</header>
