@if (isLoading()) {
  <p>{{ 'loading-artist-details' | transloco }}</p>
} @else if (loadError()) {
  <p aria-live="polite">{{ 'artist-details-load-error' | transloco }}</p>
} @else if (artistDetails()) {
  <h1>
    {{ artistDetails()!.artist.name }}
  </h1>
  <hr />
  <div class="general-wrapper">
    @if (artistImageUrl(); as imageUrl) {
      <img
        [src]="imageUrl"
        [alt]="artistDetails()!.artist.name"
        width="300"
        height="300"
      />
    } @else {
      <div class="no-image-placeholder">
        <span>{{ 'no-image' | transloco }}</span>
      </div>
    }
    <div class="general">
      <div class="stats">
        <p>
          {{ 'playcount' | transloco }}:
          {{ artistDetails()!.artist.stats.playcount | number: '' : 'en-US' }}
        </p>
        <p>
          {{ 'listeners' | transloco }}:
          {{ artistDetails()!.artist.stats.listeners | number: '' : 'en-US' }}
        </p>
      </div>
      <div class="tags">
        @for (tag of artistDetails()!.artist.tags.tag; track tag.name) {
          <p class="tag">{{ tag.name }}</p>
        }
      </div>
    </div>
  </div>
  <!-- innerHTML removes unsave content like script tags;
  a custom pipe with DOMPurify with explicit ALLOWED_TAGS and ALLOWED_ATTR could be used to sanitize values;
   for this specific use case innerHTML works fine -->
  <p
    class="summary artist-summary"
    [innerHTML]="artistDetails()!.artist.bio.summary"
  ></p>
} @else {
  <p aria-live="polite">{{ 'no-artist-details' | transloco }}</p>
}
