:host {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

select {
  width: fit-content;
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  background: #e5e7f8;
  color: #51546f;
}

@media (prefers-color-scheme: dark) {
  select {
    color: #e5e7f8;
    background: #51546f;
  }
}
