:host {
  position: relative;
  max-height: 67px;
}

img {
  border-radius: 1rem;
  max-height: 67px;
  width: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.start-wrapper,
.inner-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.no-image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 67px;
  height: 67px;
  border-radius: 1rem;
  font-size: 0.7rem;
  padding: 0.4rem;
  border: 1px solid darkslateblue;
}

h2 {
  max-width: min(60vw, 45rem);
  overflow: hidden;
  font-size: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artist-detail-link {
  text-decoration: none;
}

.artist-detail-link:hover {
  text-decoration: underline;
}

.external-artist-link {
  font-size: 0.85rem;
}

@media (prefers-color-scheme: dark) {
  .no-image-placeholder {
    border: 1px solid #ebebeb;
  }
}

@media (max-width: 720px) {
  .external-artist-link {
    display: inline-block;
    max-width: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
