<ca-card>
  @if (artist()) {
    <div class="start-wrapper">
      <p>{{ number() }}.</p>
      @if (artistImageUrl(); as imageUrl) {
        <img
          [src]="imageUrl"
          [alt]="artistName()"
          width="174"
          height="174"
          loading="lazy"
        />
      } @else {
        <div class="no-image-placeholder">
          <span>{{ 'no-image' | transloco }}</span>
        </div>
      }
    </div>
    <div class="wrapper">
      <h2>
        <a
          class="artist-detail-link"
          [routerLink]="['/artist-list/detail', artist()!.name]"
        >
          {{ artist()!.name }}
        </a>
      </h2>

      <div class="inner-wrapper">
        <p>
          {{ artist()!.listeners | number: '' : 'en-US' }}
          {{ 'listeners' | transloco }}
        </p>
        <ng-container *transloco="let t">
          <a
            [href]="artist()!.url"
            class="external-artist-link"
            rel="noopener noreferrer"
            target="_blank"
            [attr.aria-label]="t('link-to-artist', { artist: artistName() })"
            >Last.fm <span aria-hidden="true">↗</span></a
          >
        </ng-container>
      </div>
    </div>
  } @else {
    <p>{{ 'no-data' | transloco }}</p>
  }
</ca-card>
