<app-card>
  @if (artist()) {
    <div start class="start-wrapper">
      <p>{{ number() }}.</p>
      <img
        [src]="artist()!.image[2]['#text'] ? artist()!.image[2]['#text'] : ''"
        alt="artist-image"
      />
    </div>
    <div class="wrapper">
      <h1>{{ artist()!.name }}</h1>
      <div class="inner-wrapper">
        <p>
          {{ artist()!.listeners | number: '' : 'en-US' }}
          {{ 'listeners' | transloco }}
        </p>
        <ng-container *transloco="let t">
          <a
            [href]="artist()!.url"
            rel="noopener noreferrer"
            target="_blank"
            [title]="t('link-to-artist', { artist: artist()?.name })"
            [attr.aria-label]="t('link-to-artist', { artist: artist()?.name })"
            >&#9432;</a
          >
        </ng-container>
      </div>
    </div>
  } @else {
    <p>{{ 'no-data' | transloco }}</p>
  }
</app-card>
