:host {
  position: relative;
  max-height: 67px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.start-wrapper,
.inner-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

img {
  border-radius: 1rem;
  max-height: 67px;
  width: auto;
}
